wwww.ij34.com {


	file_server / {
		root /var/wwwroot/chat
		index chat.html
	}
	file_server / {
		root /var/wwwroot/audio
		index audio.html
	}
	
	file_server / {
		root /var/wwwroot/video
		index video.html
	}
}
